body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;

    font-family: 'Roboto';
    background: var(--md-sys-color-shadow);
    color: #fff;
    touch-action: none;
    user-select: none;
}

* {
    box-sizing: border-box;
}

#app {
    width: 100%;
    height: 100%;
}
